<table class="appt-table">
	<thead>
		<tr>
			<th></th>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Customer</th>
			<td>{{customer_name}} - {{customer_email}}</td>
		</tr>
		<tr>
			<th>Service</th>
			<td>{{service_name}}</td>
		</tr>
		<tr>
			<th>Time</th>
			<td>{{appt_date}}, {{appt_time}}</td>
		</tr>
		<tr>
			<th>Barber Name</th>
			<td>{{barber_name}}</td>
		</tr>
	</tbody>
</table>